table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   width: 70%;
   padding: 15px;
   text-align: left;
}

th {
    height: 50px;
}

td {
	height: 30px;
	width: auto;
}

.srNo {
	width: 30px;
}

.bank_master {
	width: 80%;
}