<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config />
   
	<context:component-scan base-package="com.rns.web.erp.service" />

	<bean id="userBo" class="com.rns.web.erp.service.bo.impl.ERPUserBoImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
		<property name="executor" ref="executor" />
	</bean>
	
	<bean id="adminBo" class="com.rns.web.erp.service.bo.impl.ERPAdminBoImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
		<property name="executor" ref="executor" />
	</bean>
	
	
	<bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="WaitForTasksToCompleteOnShutdown" value="true" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/erp" />
		<property name="username" value="root" />
		<property name="password" value="'asd'" />
		<property name="testOnReturn" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testWhileIdle" value="true" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="initialSize" value="8"/>
  		<property name="maxActive" value="20"/>
  		<property name="maxIdle" value="20"/>
  		<property name="minIdle" value="0"/>
	</bean>

	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="hibernate4AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.rns.web.erp.service.dao.domain.ERPCompanyDetails</value>
				<value>com.rns.web.erp.service.dao.domain.ERPEmployeeDetails</value>
				<value>com.rns.web.erp.service.dao.domain.ERPEmployeeLeave</value>
				<value>com.rns.web.erp.service.dao.domain.ERPLeaveType</value>
				<value>com.rns.web.erp.service.dao.domain.ERPLoginDetails</value>
				<value>com.rns.web.erp.service.dao.domain.ERPCompanyLeavePolicy</value>
				<value>com.rns.web.erp.service.dao.domain.ERPEmployeeFinancials</value>
				<value>com.rns.web.erp.service.dao.domain.ERPSalaryStructure</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
				<!-- <prop key="hibernate.connection.release_mode">after_statement</prop> -->
				<!-- <prop key="connection.provider_class"> org.hibernate.connection.C3P0ConnectionProvider 
					</prop> -->
			</props>
		</property>
	</bean>


</beans>